<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <style type="text/css">
      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the form example</h1>
    <p>Please enter a message here:</p>
    <form method="post" action="/message">
      <input name="message"/>
      <input type="color" name="message_color"/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
