<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        background-color: <%= params[:message_color] %>
      }
    </style>
  </head>
  <body>
    <p>The message you entered: <%= params %></p>
  </body>
</html>
